accelerate==0.33.0
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
async-timeout==4.0.3
attrs==23.2.0
bcrypt==4.1.3
beautifulsoup4==4.12.2
bitsandbytes==0.43.3
certifi==2024.2.2
cffi==1.16.0
cfgv==3.4.0
charset-normalizer==3.3.2
chatgpt==2.2212.0
click==8.1.7
cmake==3.30.2
colossalai==0.2.7
contexttimer==0.3.3
cryptography==42.0.7
dataclasses-json==0.5.14
datasets==2.8.0
deprecated==1.2.14
dill==0.3.6
distlib==0.3.8
distro==1.9.0
docker-pycreds==0.4.0
fabric==3.2.2
filelock==3.14.0
frozenlist==1.4.1
fsspec==2024.3.1
gitdb==4.0.11
gitpython==3.1.43
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.23.2
hydra-core==1.3.0
identify==2.5.36
idna==3.7
invoke==2.2.0
jinja2==3.1.4
jsonpatch==1.33
jsonpointer==2.4
langchain==0.0.113
langchain-core==0.2.1
langchain-text-splitters==0.2.0
langsmith==0.1.63
lit==18.1.8
loralib==0.1.2
markdown-it-py==3.0.0
markupsafe==2.1.5
marshmallow==3.21.2
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.14
mypy-extensions==1.0.0
networkx==3.3
ninja==1.11.1.1
nodeenv==1.8.0
numpy==1.26.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
omegaconf==2.3.0
openai==1.30.3
orjson==3.10.3
packaging==23.2
pandas==2.2.2
paramiko==3.4.0
peft==0.11.1
pre-commit==3.7.1
protobuf==4.25.3
pyarrow==16.1.0
pyarrow-hotfix==0.6
pycparser==2.22
pydantic==1.10.15
pydantic-core==2.18.2
pynacl==1.5.0
pytz==2024.1
pyyaml==6.0.1
regex==2024.5.15
requests==2.32.2
responses==0.18.0
rich==13.7.1
safetensors==0.4.3
sentry-sdk==2.3.1
setproctitle==1.3.3
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
sqlalchemy==1.4.52
sympy==1.13.2
tenacity==8.3.0
tensor-parallel==2.0.0
tls-client==1.0.1
tokenizers==0.15.2
torch==2.0.1
torchsummary==1.5.1
tqdm==4.66.4
transformers==4.37.0
triton==2.0.0
typing-inspect==0.9.0
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.26.2
wandb==0.17.0
wrapt==1.16.0
xxhash==3.4.1
yarl==1.9.4